/* reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*aqui empieza codigo css de encriptador*/

/*fondo*/

body{
	background-color: #EAFAF1;
	padding: 2em;
}

/*espacio encabezado de logo*/

header{
	background-color: #F08080;
	padding: 3em 0;
	box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
}

.caja{
	width: 940px;
    position: relative;
    margin: 0 auto;
}

header .logoTitle{
	text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;


}



/*ubicacion area de textos*/

.textos{
	width: 100%;
    margin: 0 auto;
    padding: 1em;
	font-size: 2em;
    text-align: center;
}

.textos li{
	display: inline-block;
}

textarea{
	border-radius: 15px;
	border-width: 6px;
	border-style: solid;
	border-color: #00875C;
	font-size: 1em;
}

/*botones*/

.textoBotones{
	padding: 1em;
}

.encriptar{
	border-radius: 12px;
	border-color: #00875C;
	background-color: #00875C;
	color: white;
	padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
	width: 40%;
	height: 4em;
	margin: 2px;
}

.encriptar:hover {
    transform: scale(1.1);
}

.desencriptar{
	border-radius: 12px;
	border-color: #00875C;
	background-color: white;
	color: #00875C;
	padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
	width: 40%;
	height: 4em;
	margin: 2px;
}

.desencriptar:hover {
    transform: scale(1.1);
}


/*Area de resultado desencriptado o encriptado*/

img .muñeco{
	background-color: white;
}

.textos .espacioResultado {
    box-sizing: border-box;
    border: 5px solid #00875C;
    border-radius: 15px;
    padding: 3em;
    background-color: white;
}

/*rodapie con mi informacion*/

footer{
	background-color: black;
	box-sizing: border-box;
	text-align: center;
	padding: 1em;
	box-shadow: inset 0 0 25px rgba(145, 126, 126, 0.733);
}

.Copyright {
    margin: 3em;
    color: #FFFFFF;
    font-size: 1.5em;
}