/*encabezado donde va el logo*/

header{
	background-color: #F08080;

	padding: 20px;
    height: fit-content;

	box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
    background: url(img/house-header.png);
    font-family: 'Chokokutai';
}

.cajaHeader{
    width: 100%;
    position: relative;
    margin: 0 auto;    
}

nav li{
    font-size: 2em;
    
}

nav li a{
    text-decoration: none;
    color: inherit;
}
  

nav .tittle{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav .Regresar:hover{
    color: #C78C19;
    text-decoration-color: gold;
}

nav .info:hover{
    color: #C78C19;
    text-decoration-color: gold;
}

/*cuerpo de la pagina*/

body {
    background-color: white;
    
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px;
    gap: 20px;
}

/*ubicacion area de textos*/

.espacios{
	display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 2%;
    font-size: 1.5em;
}

.espacios li{
    float: left;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;

}

textarea {
    border-color: white;
    font-size: 1.5em;
    float: left;
    width: 100%;
    height: 60%;
}

textarea:focus {
    outline: none;
}
  


/*botones*/

.textoBotones{
	padding: 1em;
}

button{
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
	width: 50%;
    height: 10%;
	margin: 2%;
    border-radius: 15%;
}

.encriptar{
	border-color: #00875C;
	background-color: #00875C;
	color: white;
	
}

.desencriptar .copiar{
	border-color: #00875C;
	background-color: lighten(#00875C, 30%);
	color: #00875C;
}

button:hover {
    transform: scale(1.1);
}


/*Area de resultado desencriptado o encriptado*/

.espacioResultado {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 3em;

    background-color: white;

    float: right;
    width: 35%;
    height: 80%;
    
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 50px 100px -40px #B695C0

}

/*rodapie con mi informacion*/

footer{
	background-color: black;
    background: url(img/flowers_footer.png);
	box-sizing: border-box;
	text-align: center;
	padding: 50px;
	box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
}

.Copyright {
    margin: 1em;
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
    stroke: 2px black;
}

.gatito{
    width: 60px;
    outline: 2px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/*Haciendo la pag responsiva*/

header {
    height: 100px; /* Establece una altura inicial para el header */
  }
  
  @media screen and (max-width: 768px) {
    header {
      height: 150px; /* Aumenta la altura del header para dispositivos con un ancho máximo de 768px */
    }
  }
  
  @media screen and (max-width: 480px) {
    header {
      height: 200px; /* Aumenta la altura del header para dispositivos con un ancho máximo de 480px */
    }
  }
  